.gallery{
    margin-top: 60px;
    .col {
        text-align: center;
        text-transform: 
        uppercase;
        img {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}