@import '~bootstrap/scss/bootstrap';
.gallery {
    margin-top: 60px;
    .col {
        text-align: center;
        text-transform: 
        uppercase;
        img {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}
.container.About {
    text-align: center;
    .col {
        padding-top: 10px;
    }
}
.container-fluid.header {
    background-color: green;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        input {
            width: 200px;
        }
    }
}